@use './../partials/mixins' as m;
@use './../partials/variables' as v;

.main-crear {
    padding-top: 10rem;
}

.crear-title{
    text-align: center;
    margin-bottom: 2rem;
    font: {
        family: v.$fuente-noto;  
        size: 2rem;
    }
}
.formulario-crear {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    margin: auto;
    padding: 2rem;
    background-color: v.$naranja;
    
    label {
        color: v.$blanco;
        font: {
            weight: 900;
            size: 1.5rem;
            family: v.$fuente-noto;
        }
    }

    input {
        border: none;
        padding: 1rem;
    }

    input[type="submit"] {
       margin: 2rem auto 0;
       padding: 1rem 3rem;
       background-color: v.$negro;
       color: v.$blanco;
       border-radius: 1rem;

       transition:background-color .3s ease-in ;
       &:hover {
        background-color: rgb(17, 17, 17);
       }
    }
      
}


//MENSAJES DE error php

.error {
    margin-top: .5rem;
    background-color: red;
    padding: .5rem;
    border-radius: 10px;
    color: v.$blanco;
    text-align: center;
    font: {
        family: v.$fuente-noto;
    }
}


.form-reservaciones {
    padding-top: 5rem;
}