@use '../partials/mixins' as m;
@use '../partials/variables' as v;
h1 {
    padding-top: 7rem;
    text-align: center;
    color: v.$negro;
    font: {
        size: 2rem;
        family: 'Arial';
    }
}

.exito {
    margin: 2rem 0;
    background-color: rgb(17, 230, 52);
    text-align: center;
    font: {
        weight: 900;
        size: 1.5rem;
        family: v.$fuente-montserrat;
    }
}

.crear-propiedad {
    background-color: rgb(17, 230, 52);
    padding: 1rem 3rem;
    color: v.$negro;
    display: inline-block;
    font: {
        size: 1rem;
        family: v.$fuente-montserrat;
        weight:900;
    }

    transition: background-color .5s ease-in-out;

    &:hover{
        background-color: rgb(14, 206, 46);
    }
}

.table {
    h2 {
        margin: 1rem 0;
        text-align: center;
        font: {
            size:2rem;
            family:'arial';
        }
    }
}
table {
    padding: 1rem;
    max-width: 80%;
    width: 100%;
    margin: auto;
    background-color: v.$naranja;
    th {
        color: v.$blanco;
        font: {
            weight:900; 
            size: 2rem;
            family: v.$fuente-montserrat;
        }
    }
    td {
        background-color: v.$blanco;
        border: solid 2px v.$negro;
        text-align: center;
        font: {
            size: 1.5rem;
            family: v.$fuente-montserrat;
        }

        a{
            margin: .3rem 0;
            color: v.$negro;
            font: {
                size: 1.5rem;
                weight: bolder;
            }
            display: block;
            background-color: rgb(245, 43, 43);

            &:last-child {
                background-color: rgb(17, 230, 52);
            }
        }
    }
}

.borrar {
    width: 100%;
    display: block;
    background-color: rgb(245, 43, 43);
    margin: .3rem 0;
    color: v.$negro;
    font: {
        size: 1.5rem;
        weight: bolder;
    }
}