@use '../partials/mixins' as m;
@use '../partials/variables' as v;

.info-servicio {
    @include m.grid(3, 1fr);
    gap: 3rem;
    padding: 1rem;

    div:nth-child(odd){
        border-radius: 10px;
        background-color: v.$naranja;

        p {
            color: v.$blanco;
        }
    }

    div{
        text-align: center;
        padding: 1rem;

        h2 {
            font: {
                family: v.$fuente-montserrat;
                size: 1.5rem;
                weight: 900;
            }
        }
        
        p {
            font: {
                family: v.$fuente-montserrat ;
                size: 1.2rem;
            }
        }
    }
}
