@use './../partials/variables' as v;
@use './../partials/mixins' as m;

h1 {
    font: {
        size: 3rem;
    }
}

.reservacion-cliente {
    max-width: 60%;
    background-color: v.$naranja;
    margin: auto;
    margin-top: 2rem;
    padding: 3rem;
    border-radius: 10px;

    p{
        border-radius: 5px;
        background-color: v.$blanco;
        margin-top: 1rem;
        padding: 1rem;

        font: {
            family: v.$fuente-montserrat;
            size: 1.5rem;
        }
    }

    span {
        font-weight: 900;
    }

    .regresar {
        display: inline-block;
        margin: 2rem auto 0;
        padding: 1rem 3rem;
        background-color: rgb(64, 230, 64);
        border-radius: 10px;
        color: v.$negro;
        font: {
            weight: 900;
            size:1.1rem;
            family: v.$fuente-noto;
        }


        transition: background-color .3s ease-in;
        &:hover {
            background-color: rgb(27, 158, 27);
        }
    }
}